<div class="d-flex align-items-center header-container">
  <h1 class="title">スケジュール一覧</h1>
  <div class="ml-auto schedules__linkBox">
    <%= link_to '新規作成', new_schedule_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<table class="table table-hover schedules__table">
  <thead>
    <tr>
      <th>ID</th>
      <th>期限</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.deadline.to_s(:datetime_jp) %></td>
        <td><%= schedule.title %></td>
        <td><%= schedule.name %></td>
        <td><%= schedule.created_at.to_s(:datetime_jp) %></td>
        <td><%= link_to '詳細', schedule, class:'btn btn-outline-dark' %></td>
        <td><%= link_to '削除', schedule, class: 'btn btn-outline-dark', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
