<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto schedules__linkBox">
    <%= link_to '一覧', schedules_path, class:'btn btn-outline-dark'%>
    <%= link_to '編集', edit_schedule_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render partial: 'schedule', object: @schedule %>
<%= render partial: 'comment_form', locals: { comment: @comment } %>
